<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>Users</h1>
<div>
    <ul>
        <th:block th:each="user : ${user}">
            <li th:text="${user}"></li>
            <form th:action="@{/admin/delete}" method="post">
                <input type="hidden" name="id" th:value="${user.id}" />
                <button type="submit">Удалить</button>
            </form>
            <form method="get" th:action="@{/admin/update}" th:object="${user}">
                <input type="hidden" name="id" th:value="${user.id}" />
                <button type="submit">Update</button>
            </form>
        </th:block>
    </ul>
    <input type = "button" value="add"
        onclick="window.location.href = '/admin/addNew'"/>
    <form action="/logout" method="get">
        <button type="submit">logout</button>
    </form>
</div>
</body>
</html>